<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="shortcut icon" type="image/png" href="~/images/icon.PNG" />
</head>
<body style="background-color:black">
    <div class="navbar">
        <div class="navbar-header">
            <div class="navbar-title">
                Snitch
            </div>
        </div>
        <div class="navbar-links">
            <a class="navButton" href="#Integrations">Integrations</a>
            <a class="navButton" href="#tutorialSection">How it works</a>
            <a class="navButton" href="#partnersSection">Partners</a>
            <a href="/Account">Login</a>
        </div>
    </div>
    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
