
@{
    ViewData["Title"] = "Account";
}

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-qrcode-reader/dist/VueQrcodeReader.umd.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.34/dist/web3.min.js"></script>
  <script charset="utf-8"
          src="https://cdn.ethers.io/scripts/ethers-v4.min.js"
          type="text/javascript">
  </script>

  <script type="text/javascript" src="https://unpkg.com/web3@1.2.11/dist/web3.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/web3modal@1.9.0/dist/index.js"></script>
  <script type="text/javascript" src="https://unpkg.com/evm-chains@0.2.0/dist/umd/index.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/@@walletconnect/web3-provider@1.2.1/dist/umd/index.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/fortmatic@2.0.6/dist/fortmatic.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/authereum@latest/authereum.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bitski@0.10.8/dist/bitski.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <script src="https://unpkg.com/vue-advanced-cropper@1/dist/index.umd.js"></script>
  <link
    rel="stylesheet"
    href="https://unpkg.com/vue-advanced-cropper@1/dist/style.css"
  />

  <script src="/js/vibrant.min.js"></script>
  <script src="/js/whiteLabelers.js"></script>
  <script type="text/javascript" src="/js/random-words.js"></script>
  <script type="text/javascript" src="/js/walletbeacon.min.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/gif.js"></script>

  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/old.css">
  <link rel="stylesheet" href="/css/modals.css">
  <link rel="stylesheet" href="/css/Hamburger.css">
  <link rel="stylesheet" href="/css/Sidebar.css">
  <link rel="stylesheet" href="/css/MenuFont.css">
</head>

<body style="background-color: black">
<div id="app">
  <div class="navbar">
    <span id="header" class="navbar-title">
        <a>Snitch</a>
    </span>
  </div>
  <div id="burger"
       :class="{ 'active' : showHamburger }"
       v-on:click="ToggleBurger"
       v-if="walletConnected">
    <slot>
      <button type="button" class="burger-button" title="Menu">
        <span class="burger-bar burger-bar--1"></span>
        <span class="burger-bar burger-bar--2"></span>
        <span class="burger-bar burger-bar--3"></span>
      </button>
    </slot>
  </div>

  <div class="sidebar">
    <div class="sidebar-backdrop" style=" z-index: 1;" v-on:click="ToggleBurger" v-if="showHamburger"></div>
    <transition name="slide">
      <div v-if="showHamburger" class="sidebar-panel">
        <slot>
          <ul class="sidebar-panel-nav">
            <li style="margin: 5em 0 0;" class="sidebar-menu-title">
              <span id="idBar">
                  {{ shortenedAddress }}
              </span>
              <hr style="border-bottom: solid thin #707070; z-index:1000; margin: 0;"/>
            </li>
            <li v-if="showAddDeviceButton" style="margin: 1em 0 0;">
              <span class="sidebar-menu-title" v-on:click="showAddDeviceInput = true"
                    style="cursor:pointer; margin-top:1em;">Add new Device
                <svg style="float:right; margin-top:0.1em; margin-left:40px" width="25" height="25"
                     viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M12.4482 21.2744C17.4188 21.2744 21.4482 17.245 21.4482 12.2744C21.4482 7.30383 17.4188 3.27439 12.4482 3.27439C7.47768 3.27439 3.44824 7.30383 3.44824 12.2744C3.44824 17.245 7.47768 21.2744 12.4482 21.2744Z"
                        stroke="black" stroke-width="1.52987" stroke-miterlimit="10"/>
                  <path d="M8.69824 12.2741H16.1982" stroke="black" stroke-width="1.52987"
                        stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M12.4482 8.52409V16.0241" stroke="black" stroke-width="1.52987"
                        stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </span>
              <hr style="border-bottom: solid thin #707070; z-index:1000; margin: 0;"/>
            </li>
            <li v-if="showAddDeviceButton" style="margin: 1em 0 0;">
              <span class="sidebar-menu-title" id="viewDevicesButton"
                    v-on:click="viewDevices = !viewDevices" style="cursor:pointer">
                  Linked Devices
              </span>
              <hr style="border-bottom: solid thin #707070; z-index:1000; margin: 0;"/>
              <transition name="slide-down">
                <div>
                  <table>
                    <tr v-for="device in account.devices">
                      <td class="deviceListElement sidebar-menu-title-device" style="cursor:pointer"
                          v-on:click="DeviceSelected(device)">
                        {{ GetDeviceAlias(device) }}
                        <span v-if="deviceStatuses[device]" style="color: #0FFF50">Online</span>
                        <span v-else style="color: #FF5733">Offline</span>
                      </td>
                    </tr>
                  </table>
                </div>
              </transition>
            </li>
            <li style="padding-top:6em">
              <span class="sidebar-menu-title"
                    style="cursor:pointer;font-weight: 400;font-size: 30px;line-height: 105%;letter-spacing: -0.02em;color: #000000;"
                    v-on:click="SignOut">
                <svg style="padding-top:5px" width="25" height="25" viewBox="0 0 25 25" fill="none"
                     xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_134_516)">
                    <path d="M12.1984 22.7021H3.04957C2.48844 22.7021 2.03306 22.2467 2.03306 21.6856V3.38808C2.03306 2.82695 2.48848 2.37158 3.04957 2.37158H12.1984C12.7605 2.37158 13.2149 1.91721 13.2149 1.35507C13.2149 0.792939 12.7605 0.33847 12.1984 0.33847H3.04957C1.36823 0.33847 0 1.70675 0 3.38808V21.6856C0 23.3669 1.36823 24.7351 3.04957 24.7351H12.1984C12.7605 24.7351 13.2149 24.2808 13.2149 23.7186C13.2149 23.1565 12.7605 22.7021 12.1984 22.7021Z"
                          fill="#8C51EE"/>
                    <path d="M24.1756 11.813L17.9951 5.71386C17.5967 5.31943 16.9522 5.32455 16.5578 5.72404C16.1634 6.12353 16.1674 6.76698 16.568 7.1614L20.9848 11.5203H9.14932C8.58718 11.5203 8.13281 11.9746 8.13281 12.5368C8.13281 13.0989 8.58718 13.5533 9.14932 13.5533H20.9848L16.568 17.9122C16.1675 18.3066 16.1644 18.95 16.5578 19.3495C16.757 19.5508 17.0193 19.6524 17.2816 19.6524C17.5398 19.6524 17.7979 19.5549 17.9951 19.3597L24.1756 13.2605C24.3688 13.0694 24.4786 12.8091 24.4786 12.5367C24.4786 12.2644 24.3698 12.0052 24.1756 11.813Z"
                          fill="#8C51EE"/>
                  </g>
                  <defs>
                    <clipPath id="clip0_134_516">
                      <rect width="24.478" height="24.478" fill="white"
                            transform="translate(0 0.297882)"/>
                    </clipPath>
                  </defs>
                </svg>
                Sign Out
              </span>
            </li>
          </ul>
        </slot>
      </div>
    </transition>
  </div>

  <div class="d-flex align-items-center justify-content-center" style="height: 400px; margin-top: 10em"  v-if="!walletConnected">
    <div class="p-2 m-2 d-flex align-items-center justify-content-center walletcontainer">
      <div class="p-2 m-2 text-white shadow rounded-2 walletblock justify-content-center align-items-center" id="web3ConnectButton" v-on:click="EthereumConnect">
        <svg class="walletimg column" width="158" height="158" viewBox="0 0 158 158" fill="none" xmlns="http://www.w3.org/2000/svg">
          <ellipse cx="78.9139" cy="78.7962" rx="78.3738" ry="78.5424" fill="white"/>
          <path d="M78.0719 103.405L119.534 78.0432L78.0719 10.7044V103.405Z" fill="#343434"/>
          <path d="M78.4095 103.405L36.9473 78.0432L78.4095 10.7044V103.405Z" fill="#8B8B8B"/>
          <path d="M119.534 78.1254L78.0706 60.2556V103.405L119.534 78.1254Z" fill="#141414"/>
          <path d="M36.9473 78.1254L78.4109 60.2556V103.405L36.9473 78.1254Z" fill="#393939"/>
          <path d="M78.4085 112.016L37.6191 87.561L78.4085 145.205V112.016Z" fill="#8B8B8B"/>
          <path d="M78.4077 112.016L119.534 87.561L78.4077 145.205V112.016Z" fill="#3C3C3A"/>
        </svg>
        <button class="btn btn-default walletbtn text-center" style="margin-top: 60px">
          Ethereum
        </button>
      </div>
      <div class="p-2 m-2 text-white shadow rounded-2 walletblock align-items-center justify-content-center" id="tezozWalletConnect" v-on:click="TezosConnect">
        <svg class="walletimg column" width="157" height="158" viewBox="0 0 157 158" fill="none" xmlns="http://www.w3.org/2000/svg">
          <ellipse cx="78.5428" cy="78.7962" rx="78.3738" ry="78.5424" fill="white"/>
          <path d="M87.2533 116.099C81.1906 116.099 76.7652 114.639 73.9776 111.718C71.3953 109.246 69.8965 105.852 69.8096 102.278C69.7782 101.192 70.0299 100.117 70.5397 99.158C71.0152 98.3293 71.7023 97.6417 72.5307 97.1654C74.4825 96.192 76.7785 96.192 78.7304 97.1654C79.5574 97.6397 80.241 98.3279 80.7103 99.158C81.2348 100.112 81.4959 101.189 81.4665 102.278C81.5206 103.578 81.1476 104.86 80.4044 105.929C79.7851 106.801 78.8998 107.449 77.8811 107.776C78.8771 109.044 80.2864 109.922 81.8635 110.258C83.6282 110.771 85.4555 111.034 87.2929 111.041C89.7257 111.062 92.1084 110.35 94.1299 108.997C96.2274 107.515 97.7912 105.397 98.5905 102.957C99.6032 100.052 100.098 96.992 100.051 93.9164C100.132 90.7099 99.5913 87.5178 98.4576 84.5172C97.6049 82.1173 95.9861 80.0646 93.8509 78.676C91.8665 77.4203 89.5629 76.7613 87.2145 76.778C85.168 76.9513 83.1949 77.6211 81.4659 78.7296L77.2033 80.8667V78.7296L96.3596 53.0312H69.8096V79.6987C69.7345 81.6231 70.2437 83.5251 71.2698 85.155C72.2797 86.5994 73.9716 87.4102 75.7304 87.2921C77.3279 87.2598 78.8726 86.7155 80.1374 85.739C81.571 84.6883 82.8185 83.4051 83.8282 81.942C83.9191 81.6854 84.0867 81.4631 84.3082 81.3051C84.4861 81.1513 84.7132 81.0666 84.9483 81.066C85.4096 81.1082 85.846 81.2937 86.1964 81.5968C86.6402 82.0927 86.8814 82.737 86.8732 83.4022C86.822 83.8494 86.7421 84.2929 86.6342 84.7296C85.6911 87.0126 84.11 88.9752 82.0805 90.3831C80.1954 91.6586 77.9691 92.3349 75.693 92.3233C69.9444 92.3233 65.9622 91.1905 63.7461 88.9248C61.445 86.3952 60.2584 83.046 60.4538 79.6316V53.0306H46.9492V48.0758H60.5166V36.7783L57.4104 33.6698V31.1365H66.4241L69.8099 32.889V48.0756L104.883 47.9688L108.375 51.4735L86.8687 73.0844C88.1681 72.5618 89.5362 72.2308 90.9308 72.1019C93.6906 72.2228 96.3834 72.9915 98.7912 74.3458C101.579 75.6712 103.929 77.7681 105.562 80.388C107.025 82.6058 108.061 85.0777 108.616 87.6761C109.072 89.7257 109.316 91.8167 109.346 93.9164C109.36 97.9232 108.452 101.88 106.691 105.479C105.021 108.964 102.211 111.775 98.7253 113.445C95.1568 115.203 91.2307 116.111 87.2533 116.099Z" fill="black"/>
          <path d="M104.77 126.295H51.5264C50.5878 126.295 49.8271 125.534 49.8271 124.596C49.8271 123.657 50.5878 122.896 51.5264 122.896H104.77C105.708 122.896 106.469 123.657 106.469 124.596C106.469 125.534 105.708 126.295 104.77 126.295Z" fill="black"/>
        </svg>
        <button class="btn btn-default walletbtn text-center" style="margin-top: 60px">
          Tezos
        </button>
      </div>
    </div>
  </div>

  <div class="inputForm" v-if="showDeviceEdit">
    <div style="position:relative; width: 100%">
      <div style="position: absolute; right: 0" v-on:click="CloseInputForms()">
        <svg width="28" height="27" viewBox="0 0 28 27" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.10758 26.5821C1.19465 26.6692 1.29804 26.7384 1.41185 26.7856C1.52566 26.8327 1.64766 26.857 1.77086 26.857C1.89406 26.857 2.01606 26.8327 2.12987 26.7856C2.24368 26.7384 2.34707 26.6692 2.43414 26.5821L13.956 15.0602L25.4826 26.5821C25.6585 26.758 25.8971 26.8568 26.1459 26.8568C26.3946 26.8568 26.6332 26.758 26.8091 26.5821C26.9851 26.4062 27.0839 26.1676 27.0839 25.9188C27.0839 25.67 26.9851 25.4314 26.8091 25.2555L15.2826 13.7336L26.8045 2.20708C26.9804 2.03116 27.0792 1.79257 27.0792 1.5438C27.0792 1.29502 26.9804 1.05643 26.8045 0.880514C26.6285 0.704601 26.39 0.605774 26.1412 0.605774C25.8924 0.605774 25.6538 0.704601 25.4779 0.880514L13.956 12.4071L2.42945 0.885202C2.25011 0.731614 2.01941 0.651359 1.78347 0.660472C1.54752 0.669586 1.3237 0.767397 1.15674 0.934361C0.989775 1.10132 0.891963 1.32514 0.88285 1.56109C0.873736 1.79704 0.953992 2.02773 1.10758 2.20708L12.6295 13.7336L1.10758 25.2602C0.932969 25.4359 0.834961 25.6735 0.834961 25.9211C0.834961 26.1688 0.932969 26.4064 1.10758 26.5821Z" fill="black"/>
        </svg>
      </div>
    </div>
    <div>
      <span class="modal-title">Device</span>
      <span v-if="deviceStatuses[selectedDeviceId]" style="color: #0FFF50">Online</span>
      <span v-else style="color: #FF5733">Offline</span>
    </div>

    <div class="modal-form">
      <div class="device-update-form">
        <div style="display: flex; flex-direction: column">
          <span class="modal-form-title">Name</span>
          <span class="modal-form-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, culpa</span>
          <input
              type="text"
              id="deviceAliasInput"
              placeholder="ex. device one"
              :value="selectedDeviceAlias"
              class="modal-form-input"
          />
        </div>

        <div style="display: flex; flex-direction: column">
          <span class="modal-form-title">Device ID</span>
          <span class="modal-form-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, culpa</span>
          <input
              type="text"
              id="deviceIdInput"
              placeholder="ex. 00:00:00:00:00:00"
              :value="selectedDeviceId"
              class="modal-form-input"
          />
        </div>
      </div>
    </div>
    <div>
      <button
          class="modal-button device-edit-delete-button"
          id="deleteDeviceButton"
          v-on:click="DeleteDeviceWithForm()"
      >
        Delete
      </button>
      <button
          class="modal-button device-edit-update-button"
          id="updateDeviceButton"
          v-on:click="UpdateDeviceWithForm()"
      >
        Update
      </button>
    </div>
  </div>

  <div class="inputForm" v-if="showTokenDisplayOptions">
    <div style="position:relative; width: 100%">
      <div style="position: absolute; right: 0" v-on:click="CloseInputForms()">
        <svg width="28" height="27" viewBox="0 0 28 27" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.10758 26.5821C1.19465 26.6692 1.29804 26.7384 1.41185 26.7856C1.52566 26.8327 1.64766 26.857 1.77086 26.857C1.89406 26.857 2.01606 26.8327 2.12987 26.7856C2.24368 26.7384 2.34707 26.6692 2.43414 26.5821L13.956 15.0602L25.4826 26.5821C25.6585 26.758 25.8971 26.8568 26.1459 26.8568C26.3946 26.8568 26.6332 26.758 26.8091 26.5821C26.9851 26.4062 27.0839 26.1676 27.0839 25.9188C27.0839 25.67 26.9851 25.4314 26.8091 25.2555L15.2826 13.7336L26.8045 2.20708C26.9804 2.03116 27.0792 1.79257 27.0792 1.5438C27.0792 1.29502 26.9804 1.05643 26.8045 0.880514C26.6285 0.704601 26.39 0.605774 26.1412 0.605774C25.8924 0.605774 25.6538 0.704601 25.4779 0.880514L13.956 12.4071L2.42945 0.885202C2.25011 0.731614 2.01941 0.651359 1.78347 0.660472C1.54752 0.669586 1.3237 0.767397 1.15674 0.934361C0.989775 1.10132 0.891963 1.32514 0.88285 1.56109C0.873736 1.79704 0.953992 2.02773 1.10758 2.20708L12.6295 13.7336L1.10758 25.2602C0.932969 25.4359 0.834961 25.6735 0.834961 25.9211C0.834961 26.1688 0.932969 26.4064 1.10758 26.5821Z" fill="black"/>
        </svg>
      </div>
    </div>

    <span class="modal-title">Cast your token</span>

    <div class="modal-form">
      <div class="center">
        <!-- <cropper
          id="tokenPreviewContainer"
          :src="selectedToken.image_url"
          :stencil-props="{
		        handlers: {},
		        movable: false,
		        resizable: false,
		        aspectRatio: 23/28,
	        }"
	        :resize-image="{
		        adjustStencil: false
	        }"
	        image-restriction="none"
          :stencil-size="{ width: 368, height: 448 }"
          :style="{
            backgroundColor: selectedBackgroundColor,
            marginTop: borderWidthInPx,
            objectFit: fitScreen ? 'cover' : 'contain',
            maxHeight: '448px',
            maxWidth: '368px'
          }"
          background-class="cropper-background"
          v-on:change="cropperChange"
          cross-origin="anonymous"
        >
        </cropper> -->
        <canvas 
            id="tokenPreviewContainer" 
            :style="{
              backgroundColor: selectedBackgroundColor
            }"
            style="border: 2px #909090 solid; border-radius: 2px"
            v-on:mousemove="cropperOnMousemove"
            v-on:mousedown="cropperOnMousedown"
            v-on:mouseup="cropperOnMouseup"
            v-on:mouseleave="cropperOnMouseup"
            v-on:wheel="cropperWheel"
            width="368" 
            height="448"
        ></canvas>
      </div>

      <div style="padding-top:3em; text-align:left;">
        <div class="menuFont">Background color</div>
        <div
          v-for="color in backgroundColorPallete"
          class="gallery"
          v-on:click="ColorSelected(color)"
          v-bind:style="{ backgroundColor: color }"
          style="width: 2em; height: 2em;"
        ></div>
        <div
          id="colorPicker"
          style="width: 2em; height: 2em; background-size: contain; cursor: pointer"
          v-on:click="ColorSelected(eyedropperSelectedColor)"
          v-bind:style="{backgroundColor: eyedropperHoverColor, backgroundImage: eyedropperImage}"
          class="gallery"
        ></div>
      </div>
      <!-- <div style="padding-top:1em; text-align:left;">
        <div class="menuFont">Border width percentage</div>
        <div style="width:100%">
            <input type="range" min="0" max="35" value="5" class="slider" v-model="borderWidthPercent">
        </div>
        <div class="menuFont">Fit screen</div>
        <input type="checkbox" v-model="fitScreen" v-on:click="borderWidthPercent = !fitScreen? 0 : borderWidthPercent" />
        <div class="menuFont">Rotate orientation</div>
        <input type="checkbox" v-model="orientationVertical" />
        <span v-if="displayingOwnedToken">
            <div class="menuFont">Show Metadata</div>
            <input type="checkbox" v-model="showMetadata" />
        </span>
      </div> -->

      <div>
        <span class="modal-form-title">Device</span>
        <span v-if="deviceStatuses[selected]" style="color: #0FFF50">Online</span>
        <span v-else style="color: #FF5733">Offline</span>
      </div>
      <span class="modal-form-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, culpa</span>

      <select id="deviceSelection" class="device-cast-select" v-model="selected">
        <option v-for="device in account.devices" :value="device">
          {{ GetDeviceAlias(device) }}
        </option>
      </select>
    </div>

    <button class="modal-button device-edit-update-button" id="displayTokenButton" v-on:click="CastToken()">Cast</button>
  </div>

  <div class="inputForm" v-if="showAddDeviceInput">
    <div style="position:relative; width: 100%">
      <div style="position: absolute; right: 0" v-on:click="CloseInputForms()">
        <svg width="28" height="27" viewBox="0 0 28 27" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.10758 26.5821C1.19465 26.6692 1.29804 26.7384 1.41185 26.7856C1.52566 26.8327 1.64766 26.857 1.77086 26.857C1.89406 26.857 2.01606 26.8327 2.12987 26.7856C2.24368 26.7384 2.34707 26.6692 2.43414 26.5821L13.956 15.0602L25.4826 26.5821C25.6585 26.758 25.8971 26.8568 26.1459 26.8568C26.3946 26.8568 26.6332 26.758 26.8091 26.5821C26.9851 26.4062 27.0839 26.1676 27.0839 25.9188C27.0839 25.67 26.9851 25.4314 26.8091 25.2555L15.2826 13.7336L26.8045 2.20708C26.9804 2.03116 27.0792 1.79257 27.0792 1.5438C27.0792 1.29502 26.9804 1.05643 26.8045 0.880514C26.6285 0.704601 26.39 0.605774 26.1412 0.605774C25.8924 0.605774 25.6538 0.704601 25.4779 0.880514L13.956 12.4071L2.42945 0.885202C2.25011 0.731614 2.01941 0.651359 1.78347 0.660472C1.54752 0.669586 1.3237 0.767397 1.15674 0.934361C0.989775 1.10132 0.891963 1.32514 0.88285 1.56109C0.873736 1.79704 0.953992 2.02773 1.10758 2.20708L12.6295 13.7336L1.10758 25.2602C0.932969 25.4359 0.834961 25.6735 0.834961 25.9211C0.834961 26.1688 0.932969 26.4064 1.10758 26.5821Z" fill="black"/>
        </svg>
      </div>
    </div>
    <span class="modal-title">Register New Device</span>

    <div class="modal-form">
      <div class="device-add-form">
        <div style="display: flex; flex-direction: column">
          <span class="modal-form-title">Device Id</span>
          <span class="modal-form-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, culpa</span>
          <input
              id="deviceIdInput"
              type="text"
              placeholder="Device Id (ex: 00:00:00:00:00:00)"
              class="modal-form-input"
          />
        </div>

        <qrcode-stream v-on:decode="onQrcodeDecode" v-on:init="onQrcodeInit"></qrcode-stream>
      </div>
    </div>

    <div>
      <button class="device-add-button modal-button" v-on:click="AddDeviceWithForm()">Add</button>
    </div>
  </div>

  <div class="modal" v-if="showModal" v-on:click="CloseInputForms()">
  </div>

  <div class="content">
    <div class="title" v-if="showNoTokensMessage">
      <span class="title-first-part">Sorry, but no NFT on your wallet </span>
      <span class="title-second-part">{{ shortenedAddress }}</span>
    </div>

    <div class="title" v-if="tokensLoaded && !showNoTokensMessage">
      <span class="title-first-part">Browse your</span>
      <span class="title-second-part">NFT's</span>
    </div>

    <div class="transformCenter" v-if="walletConnected && showSignMessage">Please sign the payload to prove ownership over your account</div>
    <div class="transformCenter" v-if="walletConnected && showFetchingTokensMessage">Fetching tokens...</div>

    <div class="search" v-if="tokensLoaded && !showNoTokensMessage">
      <div class="search-container">
        <input
            id="searchField"
            type="text"
            class="search-input"
            placeholder="Search whatever you want..."
            aria-label="Search whatever you want..."
            aria-describedby="basic-addon2"
        >
        <button class="search-button" type="button" v-on:click="SearchToken">Search</button>
      </div>
    </div>

    <div class="nfts-list" v-if="tokensLoaded">
      <div
          class="nft-container"
          v-for="token in filteredItems"
          v-bind:key="token.image_url"
          v-on:click="TokenSelected(token, true)"
      >
        <img class="nft-image" v-bind:src="token.image_url" alt="nft_image">
        <span class="nft-name">{{ token.name }}</span>
      </div>
    </div>
  </div>

  <footer>
    <div class="footer-container">
      <div>
        <h2>LOGO</h2>
        <span>© 2022. All rights reserved</span>
      </div>
      <div>
        <div class="email-container">
          <input
              type="text"
              class="email-input"
              placeholder="Leave your E-mail to keep updated."
              aria-label="Leave your E-mail to keep updated.."
          >
          <span style="flex-grow: 1"></span>
          <button type="button" class="email-button">be in touch</button>
        </div>
      </div>
    </div>
  </footer>
</div>

</body>

<script type="text/javascript">
  web3Account = ""
  signature = ""

  const app = new Vue({
    el: '#app',
    data: {
      address: '',
      account: '',
      network: '',
      searchFieldProperty: '',
      tokens: '',
      filteredTokens: '',
      communityTokens: '',
      showSignMessage: true,
      showFetchingTokensMessage: false,
      tokensLoaded: false,
      tokensByDevice: [],
      showNoTokensMessage: false,
      showAddDeviceButton: false,
      showAddDeviceInput: false,
      isBurgerActive: false,
      viewDevices: false,
      showTokenDisplayOptions: false,
      selectedToken: null,
      backgroundColorPallete: [],
      selectedBackgroundColor: "#ffffff",
      tokenPreviewHeight: 300,
      tokenPreviewWidth: 500,
      borderWidthPercent: 5,
      borderWidthInPx: '0px',
      fitScreen: false,
      orientationVertical: false,
      showMetadata: true,
      selectedDeviceId: '',
      selectedDeviceAlias: '',
      isCanviaDevice: '',
      rotationFrequency: '',
      showDeviceEdit: false,
      eyedropperSelectedColor: "#ffffff",
      eyedropperHoverColor: "#ffffff",
      displayingOwnedToken: true,
      providedWeb3: '',
      dAppClient: '',
      tezosWalletConnected: false,
      whitelabeler: '',
      selected: '',
      deviceStatuses: {},
      deviceStatusSocket: null,
      cropperImage: null,
      cropperParams: { x: 0, y: 0, scale: 1, isMoving: false, height: null, width: null, isGif: false },
    },
    async mounted () {
      await onLoad(true, false)
      const resp = await fetch('/connect/ui/create', { method: 'POST' })
      const { connectionId } = await resp.json()
      this.deviceStatusesSocket = new WebSocket(
        `wss://nftframe.azurewebsites.net/connect/ui?connectionId=${connectionId}&address=${this.address}`
      );

      this.deviceStatusesSocket.onmessage = (event) => {
        console.log("device statuses event", event.data)
        const data = JSON.parse(event.data)

        if (data.event == 'Online') {
          this.deviceStatuses[data.deviceId] = true
        }

        if (data.event == 'Offline') {
          this.deviceStatuses[data.deviceId] = false
        }
      }
    },
    computed: {
      filteredItems() {
        const filter = this.searchFieldProperty
        return this.tokens.filter(function(item) {
          return item.name.includes(filter) || filter === ""
        })
      },
      walletConnected () {
        return this.providedWeb3 !== '' || this.tezosWalletConnected === true
      },
      showModal () {
        const shouldShowModal = this.showTokenDisplayOptions || this.showAddDeviceInput || this.showDeviceEdit
        if (shouldShowModal) {
          $('html,body').scrollTop(0)
        }
        return shouldShowModal
      },
      tokenHeight () {
        const borderWidthInPx = this.borderWidthPercent * .01 * this.tokenPreviewHeight
        this.borderWidthInPx = borderWidthInPx + "px"
        const borderHeight = borderWidthInPx * 2
        return (this.tokenPreviewHeight - borderHeight) + "px"
      },
      tokenWidth () {
        const borderWidthInPx = this.borderWidthPercent * .01 * this.tokenPreviewWidth
        this.borderWidthInPx = borderWidthInPx + "px"
        const borderHeight = borderWidthInPx * 2
        return (this.tokenPreviewWidth - borderHeight) + "px"
      },
      shortenedAddress () {
        const addressLength = this.address.length
        if (addressLength > 20) {
          return this.address.substring(0, 7) + "..." + this.address.substring(addressLength - 8, addressLength)
        }
        return this.address
      },
      showHamburger () {
        return this.isBurgerActive && !this.showModal
      },
      eyedropperImage () {
        const c = this.eyedropperHoverColor.substring(1)      // strip #
        const rgb = parseInt(c, 16)   // convert rrggbb to decimal
        const r = (rgb >> 16) & 0xff  // extract red
        const g = (rgb >>  8) & 0xff  // extract green
        const b = (rgb >>  0) & 0xff  // extract blue

        const luma = 0.2126 * r + 0.7152 * g + 0.0722 * b // per ITU-R BT.709

        if (luma < 100) {
          // pick a different colour
          return "url('images/eye_dropper_white.png')"
        }
        else {
          return "url('images/eye_dropper.png')"
        }
      },
      whitelabeled () {
        return !!this.whitelabeler && !!whiteLabelers[this.whitelabeler]
      },
      title () {
        if (!this.whitelabeled) {
          return "TokenCast"
        }
        return whiteLabelers[this.whitelabeler].title
      },
      homeUrl () {
        if (!this.whitelabeled) {
          return "https://tokencast.net"
        }
        return whiteLabelers[this.whitelabeler].url + "/account?whitelabel=" + this.whitelabeler
      },
      hasLogo: function () {
        if (!this.whitelabeled) {
          return false
        }
        return whiteLabelers[this.whitelabeler].logo !== undefined
      },
      logoImageUrl: function () {
        if (!this.whitelabeled) {
          return false
        }
        return "images/" + whiteLabelers[this.whitelabeler].logo
      },
      signatureMessage: function () {
        if (!this.whitelabeled || !whiteLabelers[this.whitelabeler].signatureMessage) {
          return 'TokenCast - proof of ownership. Please sign this message to prove ownership over your Ethereum account.'
        }
        return whiteLabelers[this.whitelabeler].signatureMessage
      }
    },
    methods: {
      cropperWheel(event) {
        event.preventDefault();

        this.cropperParams.scale += event.deltaY * 0.001;
        this.cropperParams.scale = Math.min(Math.max(.4, this.cropperParams.scale), 7);

        const canvas = document.querySelector("#tokenPreviewContainer");
        this.updateCanvas(canvas);
      },
      cropperOnMousemove(event) {
        if (!this.cropperParams.isMoving) {
          return;
        }

        const canvas = document.querySelector("#tokenPreviewContainer")

        this.cropperParams.x += event.movementX;
        this.cropperParams.y += event.movementY;

        this.updateCanvas(canvas);
      },
      updateCanvas(canvas, imageUrl) {
        const ctx = canvas.getContext("2d");

        if (this.cropperParams.x < ((this.cropperParams.width / this.cropperParams.scale) * -1) + 50) {
            this.cropperParams.x = ((this.cropperParams.width / this.cropperParams.scale) * -1) + 50
        }

        if (this.cropperParams.x > 368 - 50) {
            this.cropperParams.x =  368 - 50;
        }

        if (this.cropperParams.y < ((this.cropperParams.height / this.cropperParams.scale) * -1) + 50) {
            this.cropperParams.y = ((this.cropperParams.height / this.cropperParams.scale) * -1) + 50
        }

        if (this.cropperParams.y > 448 - 50) {
            this.cropperParams.y = 448 - 50
        }

        if (!this.cropperParams.isGif && this.cropperImage) {
          ctx.clearRect(0, 0, 368, 448);
          ctx.drawImage(
            this.cropperImage,
            this.cropperParams.x,
            this.cropperParams.y,
            this.cropperParams.width / this.cropperParams.scale, 
            this.cropperParams.height / this.cropperParams.scale
          );
        }
      },
      onDrawFrame(ctx, frame) {
        ctx.clearRect(0, 0, 368, 448);

        ctx.drawImage(
          frame.buffer,
          this.cropperParams.x,
          this.cropperParams.y,
          this.cropperParams.width / this.cropperParams.scale, 
          this.cropperParams.height / this.cropperParams.scale
        );
      },
      cropperOnMousedown () {
        this.cropperParams.isMoving = true;
      },
      cropperOnMouseup () {
        this.cropperParams.isMoving = false;
      },
      cropperChange ({ coordinates, canvas }) {
        this.cropperParams = coordinates
      },
      onQrcodeDecode (value) {
        document.getElementById("deviceIdInput").value = value
      },
      async onQrcodeInit (promise) {
        let error
        try {
          await promise
        } catch (e) {
          if (e.name === 'NotAllowedError') {
            error = "ERROR: you need to grant camera access permission"
          } else if (e.name === 'NotFoundError') {
            error = "ERROR: no camera on this device"
          } else if (e.name === 'NotSupportedError') {
            error = "ERROR: secure context required (HTTPS, localhost)"
          } else if (e.name === 'NotReadableError') {
            error = "ERROR: is the camera already in use?"
          } else if (e.name === 'OverconstrainedError') {
            error = "ERROR: installed cameras are not suitable"
          } else if (e.name === 'StreamApiNotSupportedError') {
            error = "ERROR: Stream API is not supported in this browser"
          } else if (e.name === 'InsecureContextError') {
            error = 'ERROR: Camera access is only permitted in secure context. Use HTTPS or localhost rather than HTTP.';
          } else {
            error = `ERROR: Camera error (${e.name})`;
          }
          window.alert(error)
        }
      },
      SearchToken() {
        this.searchFieldProperty = document.getElementById("searchField").value
      },
      EthereumConnect () {
        onConnectEthereum()
      },
      TezosConnect () {
        onConnectTezos()
      },
      async SignOut () {
        this.isBurgerActive = false
        this.providedWeb3 = ''
        this.tokensLoaded = false
        this.tezosWalletConnected = false
        this.showNoTokensMessage = false
        window.localStorage.removeItem(getSignatureKey(app.address, app.network))
        await web3Modal.clearCachedProvider()
        if (app.dAppClient) {
          await app.dAppClient.clearActiveAccount()
        }

        window.localStorage.removeItem('walletconnect')
      },
      async FetchCanviaDevices () {
        const queryString = window.location.search
        const urlParams = new URLSearchParams(queryString)
        const code = urlParams.get('code')
        if (code !== null) {
          await AddCanviaDevices(code, app.address)
        }
      },
      OAuthWithCanvia () {
        this.showAddDeviceInput = false
        const canviaLoginlink = "https://prod.palacio.life/backend/oauth/login.html?client_id=659fb248-18dc-497e-9b31-3419935e555f&grant_type=authorization_code&response_type=code"
        window.open(canviaLoginlink)
      },
      async TokenSelected (token, ownedToken) {
        this.backgroundColorPallete = []
        this.selectedBackgroundColor = "#ffffff"
        this.selectedToken = token
        // Generate color pallete
        const vibrantOptions = {
          colorCount: 7
        }
        if (token.background_color != null) {
          this.backgroundColorPallete.push("#" + token.background_color)
          this.selectedBackgroundColor = "#" + token.background_color
        }
        if ("#" + token.background_color !== "#ffffff") {
          this.backgroundColorPallete.push("#ffffff")
        }
        if ("#" + token.background_color !== "#000000") {
          this.backgroundColorPallete.push("#000000")
        }
        const vibrant = new Vibrant(token.image_url, vibrantOptions)
        vibrant.getPalette((err, palette) => {
          for (const color in palette) {
            this.backgroundColorPallete.push(palette[color].hex)
          }
        })
        this.showTokenDisplayOptions = true
        this.displayingOwnedToken = ownedToken
        this.showMetadata = true

        this.cropperImage = null;

        const { naturalHeight, naturalWidth } = await this.GetImageMeta(this.selectedToken.image_url);
        const ratio = Math.min(368 / naturalWidth, 448 / naturalHeight);

        this.cropperParams.width = naturalWidth * ratio;
        this.cropperParams.height = naturalHeight * ratio;
        this.cropperParams.x = 0;
        this.cropperParams.y = 0;

        console.log(this.cropperParams)

        const image = await fetch(this.selectedToken.image_url, { method: 'HEAD' });
        const imageBlob = await image.blob()

        const canvas = document.querySelector("#tokenPreviewContainer");
        const ctx = canvas.getContext("2d");
        ctx.clearRect(0, 0, 368, 448);
        ctx.font = "20px Arial, sans-serif";
        ctx.fillText("Loading...", 10, 50);

        this.cropperParams.isGif = imageBlob.type === 'image/gif';

        if (this.cropperParams.isGif) {
          gifler(this.selectedToken.image_url).frames('canvas#tokenPreviewContainer', this.onDrawFrame);
        } else {
          this.cropperImage = new Image();
          this.cropperImage.crossorigin = "anonymous";
          this.cropperImage.src = this.selectedToken.image_url;
          this.cropperImage.onload = () => {
            this.updateCanvas(canvas);
          }
        }
      },
      DeviceSelected (deviceId) {
        this.selectedDeviceId = deviceId
        this.selectedDeviceAlias = this.GetNameDeviceAlias(deviceId)
        this.isCanviaDevice = this.GetIsCanviaDevice(this.selectedDeviceAlias)
        this.selectedDeviceId = deviceId
        this.showDeviceEdit = true
        GetDeviceRotationFrequency(deviceId)
        this.GetTokensOnQueue()
      },

      GetDeviceAlias (deviceId) {
        if (this.account.deviceMapping && deviceId in this.account.deviceMapping) {
          return "\"" + this.account.deviceMapping[deviceId] + "\"" + " - " + "\"" + deviceId + "\""
        }

        return deviceId
      },

      GetNameDeviceAlias (deviceId) {
        if (this.account.deviceMapping && deviceId in this.account.deviceMapping) {
          return this.account.deviceMapping[deviceId]
        }

        return deviceId
      },

      GetIsCanviaDevice (deviceId) {
        return !!(this.account.canviaAccount.canviaDevices && deviceId in this.account.canviaAccount.canviaDevices);
      },
      GetImageMeta (url, cb) {
        return new Promise((resolve, reject) => {
          const img = new Image();
          img.onload = () => resolve(img);
          img.onerror = (err) => reject(err);
          img.src = url;
        });
      },
      async CastToken () {
        this.showTokenDisplayOptions = false
        const token = this.selectedToken
        const device = document.getElementById("deviceSelection").value
        storeLastUsedDevice(device)
        // Prefer animation if it exists
        let tokenImageUrl = token.animation_url
        if (!token.animation_url) {
          if (token.image_original_url) {
            tokenImageUrl = token.image_original_url
          }
          else {
            tokenImageUrl = token.image_url
          }
        }

        const imageMeta = await this.GetImageMeta(tokenImageUrl)

        const content = {
          id: device,
          currentDisplay: {
            tokenName: this.showMetadata ? token.name : "",
            tokenOwnershipUrl: this.showMetadata ? token.permalink : "",
            tokenMetadata: this.showMetadata ? token.description : "",
            tokenImageUrl,
            borderWidthPercent: this.borderWidthPercent,
            rotationFrequency: this.rotationFrequency,
            fitScreen: this.fitScreen,
            backgroundColor: this.selectedBackgroundColor,
            orientationVertical: this.orientationVertical,
            currentPrice: token.current_price,
            image: { 
                width: this.cropperParams.width / this.cropperParams.scale,
                height: this.cropperParams.height / this.cropperParams.scale, 
                x: this.cropperParams.x,
                y: this.cropperParams.y
            }
          }
        }
        $.post("Account/SetDeviceContent?address=" + web3Account + "&signature=" + signature + "&network=" + app.network + "&whitelabeler=" + app.whitelabeler,
          content,
          function (result) {
            if (result === false) {
              alert("Cast Failed")
            }
            else {
              alert("Token Added To Queue!")
            }
          })
      },
      AddDeviceWithForm () {
        this.showAddDeviceInput = false
        const deviceId = document.getElementById("deviceIdInput").value
//         const deviceAlias = document.getElementById("deviceAliasInput").value
        document.getElementById("deviceIdInput").value = ""
//         document.getElementById("deviceAliasInput").value = ""
        AddDevice(deviceId, deviceId)
      },
      AddDemoDeviceWithForm () {
        this.showAddDeviceInput = false
        const deviceId = words({ exactly: 1, wordsPerString: 3, separator: '_' }) + "_demo"
        document.getElementById("deviceIdInput").value = ""
        document.getElementById("deviceAliasInput").value = ""
        AddDevice(deviceId)
        // Open demo link in new tab
        const demoLink = "https://tokencast.net/device?demoFrame=true&deviceId=" + deviceId
        window.open(demoLink)
      },
      UpdateDeviceWithForm () {
        this.showDeviceEdit = false
        const deviceId = this.selectedDeviceId
//         const alias = document.getElementById("deviceAliasInput").value
//         const frequency = document.getElementById("frequencyOutputValue").value
        UpdateDevice(deviceId, deviceId, frequency)
      },
      GetTokensOnQueue () {
        GetCastedTokensForDevice(this.selectedDeviceId)
      },
      DeleteDeviceWithForm () {
        this.showDeviceEdit = false
        DeleteDevice(this.selectedDeviceId)
      },
      ClearDeviceWithForm () {
        RemoveAllTokens(this.selectedDeviceId)
      },
      RemoveTokenFromDevice (index) {
        RemoveSingleToken(this.selectedDeviceId, index)
      },
      ShareDeviceWithForm () {
        const deviceId = this.selectedDeviceId
        const shareLink = "https://www.tokencast.net/Account?deviceId=" + deviceId

        if (navigator.share) {
          // From mobile device
          navigator.share({
            title: 'TokenCast Device',
            text: 'Display tokens to this device.',
            url: shareLink,
          })
            .then(() => console.log('Successful share'))
            .catch((error) => console.log('Error sharing', error))
        }
        else {
          // From PC
          CopyToClipboard(shareLink)
          alert("Copied sharable link!")
        }
      },
      CloseInputForms () {
        this.showTokenDisplayOptions = false
        this.showAddDeviceInput = false
        this.showDeviceEdit = false
      },
      ColorSelected (color) {
        this.selectedBackgroundColor = color
      },
      ToggleBurger () {
        this.isBurgerActive = !this.isBurgerActive
      },
      TokenPreviewClick (e) {
        const color = grabColorFromPos(e)
        this.eyedropperSelectedColor = color
        this.selectedBackgroundColor = color
      },
      TokenPreviewMousemove (e) {
        this.eyedropperHoverColor = grabColorFromPos(e)
      },
      TokenPreviewMouseout () {
        this.eyedropperHoverColor = this.eyedropperSelectedColor
      },
      GetLogOf (){
        const input = document.getElementById("frequencyOfRotation")
        this.rotationFrequency = Math.pow(2, input.value)
      }
    },
    directives: {
      lazyload: {
        inserted (el) {
          function loadImage() {
            const imageElement = Array.from(el.children).find(
              el => el.nodeName === "IMG"
            )
            if (imageElement) {
              imageElement.addEventListener("load", () => {
                setTimeout(() => el.classList.add("loaded"), 100)
              })
              imageElement.addEventListener("error", () => console.log("error"))
              imageElement.src = imageElement.dataset.url
            }
            const loaderElement = Array.from(el.children).find(
              el => el.nodeName === "DIV"
            )

            if (loaderElement) {
              loaderElement.style.display = "none"
            }
          }

          function handleIntersect(entries, observer) {
            entries.forEach(entry => {
              if (entry.isIntersecting) {
                loadImage()
                observer.unobserve(el)
              }
            })
          }

          function createObserver() {
            const options = {
              root: null,
              threshold: "0"
            }
            const observer = new IntersectionObserver(handleIntersect, options)
            observer.observe(el)
          }
          if (window["IntersectionObserver"]) {
            createObserver()
          } else {
            loadImage()
          }
        }
      }
    }
  })

  window.onload = function () {
    onLoad(false, true)
  }
</script>