h1 a {
    text-decoration: none;
    color: white;
}
h1 a:hover {
    text-decoration: none;
    color: white;
}
body
{
    height: 100%;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.transformCenter {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: x-large;
    left: 50%;
    transform: translate(-50%, -50%);
}

.networkSelection {
    position: absolute;
    display: inline;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.networkButton {
    width: 200px;
    font-size: x-large;
}

.tokenGallery {
    width: 50%;
    min-width: 251px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 7em);
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    border-radius: 5px;
}

div.gallery:hover {
    box-shadow: 0px 0px 40px rgba(0,0,0,0.4);
    transform: scale(1.01,1.01);
    border-radius: 5px;
    transition: opacity 0.3s ease-in-out;
}

div.gallery img {
    width: auto;
    height: 250px;
    padding: 15px;
}
div.gallery video {
    width: auto;
    height: 250px;
    padding: 15px;
}

div.queueGallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    border-radius: 5px;
}
div.queueGallery:hover {
    box-shadow: 0px 0px 40px rgba(0,0,0,0.4);
    transform: scale(1.01,1.01);
    border-radius: 5px;
    transition: opacity 0.3s ease-in-out;
}
div.queueGallery img {
    width: 100px;
    height: 100px;
}
div.queueGallery video {
    width: 100px;
    height: 100px;
}

div.desc {
    text-align: center;
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 305%;
}

.statusMessage {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: x-large;
    left: 50%;
    transform: translate(-50%, -50%);
}
.inlineStatusMessage {
    margin: 0;
    position: relative;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: x-large;
    left: 50%;
    transform: translate(-50%, 0%);
}

#removeContentButtonContainer {
    border-radius: 2px;
    width: 300px;
    position: absolute;
    bottom: -100px;
    right: 25%;
    left: 50%;
    margin-left: -150px;
    padding-bottom: 20px;
}

#removeContentButton {
    background-color: darkred;
}

.modal {
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.inputForm {
    z-index: 1002;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    position: absolute;
    top: 1em;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    max-width: 50em;
    max-height: 90%;
    scroll-behavior: unset;
    overflow-y: auto;
    text-align: left;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 55px;

    border-radius: 46.9146px;
}

.formElement {
    padding-top: .5em;
    font-weight: 500;
}

#idBar {
    color: #000;
    width: 65%;
}

#tokenPreviewContainer {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    color: #FFFFFF;
    cursor: crosshair;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: darkcyan;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.deviceListElement {
    padding-left: 1em;
    font-size: 1.2em;
    color: #000;
    text-align: left;
}

input[type=text] {
    font-size: 1.3em;
    padding-left: 5px;
}

#header {
    position: absolute;
}


@media only screen and (max-width: 600px) {
    .inputForm {
        padding: 40px;
    }
}

.navbar-title {
    position: relative;
    display: inline-block;
    font-size: 22px;
    color: #ffffff;
    padding-top: 1.7em!important;
    padding-left: 2em!important;
}
/*Hide arrow keys from number inputs*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
