.slide-enter-active,
.slide-leave-active {
    transition: transform 0.2s ease;
}

.slide-enter,
.slide-leave-to {
    transform: translateX(100%);
    transition: all 150ms ease-in 0s
}

.slide-down-enter-active,
.slide-down-leave-active {
    transition: transform 0.2s ease;
}

.slide-down-enter,
.slide-down-leave-to {
    transform: translateY(-10%);
    transition: all 150ms ease-in 0s
}

.sidebar-backdrop {
    background-color: rgba(0,0,0,.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    cursor: pointer;
}

.sidebar-panel {
    overflow-y: auto;
    background-color: #130f40;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: 999;
    padding: 3rem 20px 2rem 20px;
    width: 400px;
    max-width: 100%;
}
.main-nav {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0.8rem;
}

ul.sidebar-panel-nav {
    list-style-type: none;
}

ul.sidebar-panel-nav > li > span {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    display: block;
    padding-bottom: 0.5em;
    text-align: left;
}