.slide-enter-active,
.slide-leave-active {
    transition: transform 0.2s ease;
}

.slide-enter,
.slide-leave-to {
    transform: translateX(100%);
    transition: all 150ms ease-in 0s
}

.slide-down-enter-active,
.slide-down-leave-active {
    transition: transform 0.2s ease;
}

.slide-down-enter,
.slide-down-leave-to {
    transform: translateY(-10%);
    transition: all 150ms ease-in 0s
}

.sidebar-backdrop {
    background-color: rgba(0,0,0,.5);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    cursor: pointer;
}

.sidebar-panel {
    border-radius: 4em 0em 0em 0em !important;
    overflow-y: auto;
    background-color: #ffffff;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: 999;
    padding: 3rem 20px 2rem 20px;
    width: 400px;
    max-width: 100%;
}
.main-nav {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0.8rem;
}

ul.sidebar-panel-nav {
    list-style-type: none;
}

ul.sidebar-panel-nav > li > span {
    color: #000;
    text-decoration: none;
    font-size: 1.5rem;
    display: block;
    padding-bottom: 0.5em;
    text-align: left;
}

.centered-element {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.walletblock {
    background: #EFEFEF !important;
    border-radius: 65.0225px;
    width: 300px;
    height: 300px;
}

.walletcontainer {
    background-color: #fff !important;
    padding: 2em;
    border-radius: 41.6144px !important;
}

.walletbtn {
    background-color: #000 !important;
    display: block;
    margin-top:1em;
    margin-left:1em;
    margin-right:1em;
    color: #fff !important;
    height: 40.11px;
    width:88%;
    border-radius: 20px !important;
}

.walletimg {
    width: 156.75px;
    height: 157.08px;
    display:block;
    margin:auto;
}

.conter{
    display:block;
}

.column {
}