
@{
    ViewData["Title"] = "Control";
}

<h1>Control</h1>

<head>
    <script type="text/javascript">

            function onLoad() {
                // Get device id from QS param
                var urlParams = new URLSearchParams(window.location.search);
                var deviceId = urlParams.get("deviceId");
                if (deviceId == "undefined") {
                    // Prompt user for input
                }
                document.getElementById("deviceIdText").innerText = deviceId;
            }
    </script>
</head>
<body onload="onLoad()">
    <h1>Device Registration</h1>
    <h2>Scan the QR code to get started:</h2>
    <div id="qrCode"></div>
    <h3>Or head to <a href="http://tokencast.net/control">http://tokencast.net/control</a> and enter the following device identifier:</h3>
    <h4 id="deviceIdText"></h4>
</body>
