<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TokenCast</title>
    <meta name='description' content='Tokencast is the first software platform for displaying rare NFT artwork and collectibles'>
    <meta name='keywords' content='NFT, art, display, frame, token, blockchain, crypto, real world'>
    <meta name='twitter:card' content='Summary' />
    <meta name='twitter:site' content='@@token_cast' />
    <meta name='og:url' content='https://TokenCast.net' />
    <meta name='og:title' content='TokenCast' />
    <meta name='og:description' content='Tokencast is the first software platform for displaying rare NFT artwork and collectibles' />
    <meta name='og:image' content='https://tokencast.azureedge.net/images/social_preview.jpg' />
    <meta property="og:image:secure_url" content="https://tokencast.azureedge.net/images/social_preview.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="627" />

    <link rel="stylesheet" href="~/css/Button.css">

    <script type="text/javascript">
        function checkWhitelabel() {
            // Redirect if whitelabeled site
            for (var whiteLabeler in whiteLabelers) {
                if (window.location.origin.indexOf(whiteLabelers[whiteLabeler].url) >= 0) {
                    window.location.replace(whiteLabelers[whiteLabeler].url + "/account?whitelabel=" + whiteLabeler);
                }
            }
        }
    </script>
    <script onload="checkWhitelabel()" src="~/js/whiteLabelers.js"></script>
</head>
<body class="noSelect">
    <style>
        body {
            font-family: Futura,Trebuchet MS,Arial,sans-serif;
        }

        #logoCanvas {
            width: 22em;
            height: auto;
            background: url(https://tokencast.azureedge.net/images/frame2.png) no-repeat;
            background-size: 22em 15em;
            padding-bottom: 3em;
            display: inline-block;
        }

        .center {
            position: relative;
            left: 50%;
            transform: translate(-50%, 0%);
        }

        .section {
            padding-bottom: 4em;
            padding-top: 2em;
            overflow-x: hidden;
        }

        .section-text {
            width: 80%;
            max-width: 60em;
            margin: 0 auto;
            padding-top: 5%;
            padding-bottom: 8%;
        }

        .icon_container {
            padding-top: 2%;
        }

        #parallaxDiv {
            background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(https://tokencast.azureedge.net/images/blueprint.jpg) no-repeat;
            color: white;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .white-text a {
            color: white;
            text-decoration: underline;
        }

        /*#header {*/
        /*    position: absolute;*/
        /*    top: 2em;*/
        /*    left: 4em;*/
        /*    z-index: 1;*/
        /*}*/

        .preload_image {
            display: none;
            width: 1px;
            height: 1px;
        }

        #footerOld {
            position: absolute;
            bottom: -4em;
            width: 100%;
            height: 4em;
            background-color: darkcyan;
        }

        #footerIcons {
            display: flex;
            position: absolute;
            bottom: 1em;
            right: 4em;
        }

        #footer img {
            width: 2em;
            height: 2em;
            margin-right: 0.5em;
        }

        @@media only screen and (max-width: 600px) {
            #loginButton {
                top: .5em !important;
                right: 2.5% !important;
                font-size: 11px;
                padding: 5px 12px !important;
            }

            #tokencast_wall {
                width: 97% !important;
            }

            h1 {
                font-size: 1.5rem;
            }

            .navButton {
                display: none !important;
            }
        }

        .app_icon {
            width: 10em;
            height: auto;
        }

        * {
            box-sizing: border-box;
            font-family: Futura,Trebuchet MS,Arial,sans-serif;
        }

        body {
            margin: 0%;
        }

        .navbar {
            height: 60px;
            width: 100%;
            position: relative;
            background-color: black;
        }

        .navbar-header {
            display: inline;
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
        }

        .navbar-title {
            position: relative;
            display: inline-block;
            font-size: 22px;
            padding-left: 10%;
            color: #ffffff;
        }

        .navbar-links {
            position: absolute;
            right: 1em;
        }

            .navbar-links > a {
                display: inline-block;
                padding: 10px 10px 10px 10px;
                text-decoration: none;
                color: #efefef;
            }

                .navbar-links > a:hover {
                    background-color: rgba(0, 0, 0, 0.5);
                    color: #d3d3d3
                }
    </style>
    <div class="navbar">
        <div class="navbar-header">
            <div class="navbar-title">
                Snitch
            </div>
        </div>
        <div class="navbar-links">
            <a class="navButton" href="#Integrations">Integrations</a>
            <a class="navButton" href="#tutorialSection">How it works</a>
            <a class="navButton" href="#partnersSection">Partners</a>
            <a href="/Account">Login</a>
        </div>
    </div>
    <style>
        #mainSection {
            background-color: #679289;
            background-position: center;
            padding-bottom: 2%;
            font-family: sans-serif;
        }

        .mainText {
            font-weight: bold;
            font-size: 48px;
            color: #f4c095;
        }

        .subText {
            font-size: xx-large;
            color: white;
        }

        .displayButton {
            background: #f4c095;
        }

        .displayText {
            color: #ffffff;
        }

        .divider {
            width: 5%;
            height: auto;
            display: inline-block;
        }

        .communityButton {
            background: white;
            margin-left: 1.5em;
        }

        .communityText {
            color: #f4c095;
        }

        button {
            padding: .2em;
            padding-left: 1em;
            padding-right: 1em;
            box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            border-width: inherit;
            font-size: 36px;
            line-height: 48px;
            font-weight: 500;
        }

        @@media screen and (max-width: 1000px) {
            #framePreview {
                width: 100% !important;
            }

            #mainSectionButtonContainer {
                display: block !important;
                padding-top: 1em !important;
            }

            .divider {
                height: 2em !important;
                width: 100% !important;
            }

            .communityButton {
                margin-left: 0em !important;
            }

            .box {
                text-align: left !important;
            }
        }
    </style>

    <div id="mainSection" class="section">
        <div class="boxContainer" style="width: 100%; overflow: hidden; padding-top: 8%; padding-bottom: 5%;">
            <div class="box" style="float: left; text-align: center">
                <div class="container" style="padding-left: 10%">
                    <div style="text-align: left">
                        <h2 class="mainText">Your Art. Anywhere.</h2>
                        <div class="subText" style="color: white; padding-bottom: 2%">
                            Tokencast is the first software platform for displaying rare NFT
                            artwork and collectibles
                        </div>
                    </div>
                    <div id="mainSectionButtonContainer" style="display: flex; justify-content: left;">
                        <a href="/Account" target="_blank">
                            <button class="displayButton displayText">
                                Display
                            </button>
                        </a>
                        <div class="divider"></div>
                        <a href="https://t.me/joinchat/H0n-tFcGerDL1mN1pg0Xtg"
                           target="_blank">
                            <button class="communityButton communityText">
                                Community
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="box">
                <img id="framePreview" alt="frames" src="~/images/frames.png" />
            </div>
        </div>
    </div>


    <style>
        #Integrations {
            background-image: url("../images/circles.svg");
            background-position: center;
            top: -.05em;
            position: relative;
        }

        .sectionTitle {
            font-style: normal;
            font-weight: 500;
            font-size: 48px;
            line-height: 64px;
            padding-top: 2%;
            padding-bottom: 5%;
            text-align: center;
            color: #FFFFFF;
        }

        .iconText {
            font-family: Print Clearly;
            font-style: normal;
            font-weight: normal;
            font-weight: lighter;
            font-size: 48px;
            color: #FFFFFF;
            padding-left: 1em;
        }

        @@media screen and (max-width: 1000px) {

            .chainIcon {
                width: 50% !important;
                display: block;
                margin: auto;
            }

            .iconText {
                display: none !important;
            }
        }
    </style>

    <div id="Integrations" class="section">
        <div class="sectionTitle">Blockchain Integrations</div>
        <div class="boxContainer">
            <div class="box">
                <a href="https://ethereum.org" target="_blank">
                    <img class="chainIcon" alt="Ethereum" src="~/images/ethIcon.png" />
                </a>
                <h4 class="iconText">Ethereum</h4>
            </div>
            <div class="box">
                <a href="https://tezos.com" target="_blank">
                    <img class="chainIcon" alt="tezos" src="~/images/tezosIcon.png" />
                </a>
                <h4 class="iconText">Tezos</h4>
            </div>
        </div>
    </div>


    <style>
        .boxContainer {
            display: flex;
        }

        .box {
            flex: 1;
            display: flex;
            justify-content: center;
            padding: 1em;
        }

        /* non-essential */
        .box {
            align-items: center;
            text-align: center;
        }

        p {
            text-align: center;
            margin: 5px 0 0 0;
        }

        @@media screen and (max-width: 1000px) {
            .column {
                width: 100%;
            }
        }

        @@media (max-width:600px) {
            .boxContainer {
                flex-direction: column !important;
            }
        }
    </style>

    <div id="tutorialSection" class="section white-text">
        <h3 style="color: #679289 !important; padding-top: 1em;">Cast and Share your Art</h3>
        <div class="boxContainer">
            <div class="box">
                <div class="container" style="width: 250px">
                    <div id="icon" style="text-align: center">
                        <img class="app_icon" src="~/images/account_balance_wallet.svg" />
                    </div>
                    <h4 style="text-align: center; color: #679289">Setup your wallet</h4>
                    <p slot="content">
                        Click <b>Display</b> and login to your account and select either the
                        Ethereum or Tezos Blockchain and connect your wallet
                    </p>
                </div>
            </div>
            <div class="box">
                <div class="container" style="width: 250px">
                    <div id="icon" style="text-align: center">
                        <img class="app_icon" src="~/images/image_search.svg" />
                    </div>
                    <h4 style="text-align: center; color: #679289">Pick your NFT</h4>
                    <p slot="content">
                        Pick the NFT you want to <b>cast</b> or browse the current TokenCast
                        collection for one.
                    </p>
                </div>
            </div>
            <div class="box">
                <div class="container" style="width: 250px">
                    <div id="icon" style="text-align: center">
                        <img class="app_icon" src="~/images/settings.svg" />
                    </div>
                    <h4 style="text-align: center; color: #679289">Choose cast settings</h4>
                    <p slot="content">Choose your specific cast <b>settings</b> like ...</p>
                </div>
            </div>
            <div class="box">
                <div class="container" style="width: 250px">
                    <div id="icon" style="text-align: center">
                        <img class="app_icon" src="~/images/streetview.svg" />
                    </div>
                    <h4 style="text-align: center; color: #679289">Enjoy the view</h4>
                    <p slot="content">View the content on your display and <b>enjoy</b></p>
                </div>
            </div>
        </div>
    </div>



    <style>
        #partnersSection {
            background-color: #F4C095;
            background-image: url(https://tokencast.azureedge.net/images/squares.svg);
            background-position: center;
        }

        .partner_icon {
            width: 26em;
        }

        #canvia {
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    </style>
    <div id="partnersSection" class="section white-text">
        <div class="section-text">
            <h3 style="color:white !important;">Partners</h3>
        </div>
        <div id="canvia" style="display: flex; align-items: flex-start; flex-wrap: nowrap; padding-top: 2em; padding-bottom: 2em;">
            <a style="display: block; margin: auto;" href="https://canvia.art" target="_blank"><img class="partner_icon" src="https://tokencast.azureedge.net/images/canvia.png" /></a>
        </div>
    </div>

    <style>
        h3 {
            text-align: center;
            color: #679289;
            font-size: 48px;
        }
    </style>
    <div class="section" style="overflow-y: hidden;">
        <div class="section-text">
            <h3>Display Integrations</h3>
            <div style="display: grid; grid-template-columns: 1fr 1fr; padding-top: 5em;">
                <div style="display:flex;"><a class="center" href="https://codyborn.github.io/tokenCast/android" target="_blank"><img class="app_icon" src="~/images/google_play.webp" /></a></div>
                <div style="display:flex;"><a class="center" href="https://codyborn.github.io/tokenCast/raspi" target="_blank"><img class="app_icon" src="~/images/raspi.png" /></a></div>
            </div>
            <h3 style="padding-top: 1em;">More coming soon!</h3>
        </div>
    </div>


    @* <a id="loginButton" class="button filledButton" style="position:absolute; top:2em; right:5%; margin-top:0em;" href="/Account">Login</a> *@
    <img class="preload_image" src="https://tokencast.azureedge.net/images/tokencast_wall.jpg" />
    <img class="preload_image" src="https://tokencast.azureedge.net/images/tokencast_wall1.jpg" />
    <img class="preload_image" src="https://tokencast.azureedge.net/images/tokencast_wall2.jpg" />
    <img class="preload_image" src="https://tokencast.azureedge.net/images/tokencast_static.gif" />

    <style>
        .innerContent {
            padding-left: 2em;
            padding-right: 2em;
            padding-top: 1em;
            padding-bottom: 1em;
            display: grid;
            grid-template-columns: 2fr 1fr;
        }

        #footer {
            background: #071E22;
            color: #ffffff;
            font-size: 28px;
        }

        #footerTitle {
            font-size: 36px;
        }

        #footer a {
            opacity: 0.7;
            color: #ffffff;
        }

        #footerCopyright {
            font-size: 28px;
        }

        #footerFirstContent {
        }

        #footerSecondContent {
        }

        .footerNavigationTitle {
        }

        #footer li {
            list-style-type: none;
        }

        #footer ul {
            list-style: none;
            padding-left: 0;
        }

        @@media (max-width:600px) {
            #footerSecondContent {
                display: none !important;
            }

            .innerContent {
                grid-template-columns: initial !important;
            }

            #footerCopyright {
                font-size: 14px;
            }
        }
    </style>
    <div id="footer">
        <div class="innerContent">
            <div id="footerFirstContent" style="display: inline-grid">
                <div id="footerTitle">TokenCast</div>
                <div id="footerTelegram"><a href="https://t.me/joinchat/H0n-tFcGerDL1mN1pg0Xtg">Join our Telegram</a></div>
                <div id="footerCopyright">Copyright 2021 TokenCast. All Rights Reserved.</div>
            </div>

            <div id="footerSecondContent" style="display:flex">
                <div class="footerNavigation contentChild">
                    <div class="footerNavigationTitle">COMPANY</div>
                    <ul>
                        <li><a href="https://tokencast.net">Home</a></li>
                        <li><a href="https://tokencast.net">Features</a></li>
                        <li><a href="https://tokencast.net">Partner</a></li>
                        <li><a href="https://tokencast.net/account">Sign Up</a></li>
                    </ul>
                </div>
                <div class="footerNavigation contentChild">
                    <div class="footerNavigationTitle">SOCIAL</div>
                    <ul>
                        <li><a href="https://twitter.com/token_cast">Twitter</a></li>
                        <li><a href="https://github.com/codyborn/tokencast">Github</a></li>
                        <li><a href="https://t.me/joinchat/H0n-tFcGerDL1mN1pg0Xtg">Telegram</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>